<div class="row">
    <div class="col-12">
      <div class="jumbotron">
          <h1>Somar</h1>
          <div class="row">
              <div class="col-12">
                  <div class="form-group">
                      <label form="">Valor Total</label>
                      <input class="form-control form-control-lg" type="number" placeholder="0">
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-4">
      <button class="btn btn-primary btn-block" type="sibmit">Lanche R$ 5.00</button>
    </div>

    <div class="col-4">
      <button class="btn btn-primary btn-block" type="sibmit">Bebida R$ 4.00</button>
    </div>

    <div class="col-4">
      <button class="btn btn-primary btn-block" type="sibmit">Doce R$ 3.00</button>
    </div>
</div>
